$screen-xs-min: 480px; // Extra small screen / phone
$screen-sm-min: 768px; // Small screen / tablet
$screen-sm-max: 991px; // Small screens / tablets
$screen-md-min: 992px; // Medium screen / desktop
$screen-md-lg-min: 1100px; // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop


$pure-white: #ffffff;
$default-background: #F1F2F7;
$primary-sidenav: #112233;
$footer-color: #5B6E84;
$sidenav-text : #b8c7ce;
$links-active: #2A3537;
$brand-text-1: #1A7BB9;
$brand-text-2: #FF6C60;
$gray-600: #718096;
$active-link: #3db6d3;;
