@import "../../styles/responsiveness";

.footer {
  background-color: #1d429b;
  padding: 48px 0;
  color: #fff;
  font-size: 14px;

  .footer-wrapper {
    margin: auto;

    .footer-content {
      margin-bottom: 28px;
      display: flex;
      justify-content: space-around;

      @include mq(568px) {
        flex-direction: column;
        margin-left: 16px;
        margin-bottom: 16px;
      }

      .footer-column {
        font-size: 14px;
        line-height: 20px;
        vertical-align: top;
        display: inline-block;

        @include mq(568px) {
          margin-bottom: 16px;
        }

        .footer-title {
          margin-bottom: 4px;
          font-size: 14px;
          font-weight: 700;
        }

        div {
          .footer-item {
            text-decoration: none;
            color: #fff;
            display: block;
            text-size-adjust: 100%;
            width: fit-content;
          }

          .footer-item:hover {
            border-bottom: .5px dotted #fff;
            width: fit-content;
          }
        }
      }
    }

    .footer-copyright {
      text-align: center;
      color: #b8bbd9;
      font-weight: 700;
    }
  }
}
