@import "../../../styles/variables";
.container {
    background-color: #EDF2F7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #ffffff;
    width: 80%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    
    .card-header {
        color: black;
        border-left: 4px solid #008fd5;
        font-size: 20px;
        font-weight: 500;
        margin: 0.5rem 4rem;
        span{
            margin-left: 0.2rem;
        }
    }
    .card-body {
        padding: 0.5rem 3rem 0.5rem 3rem;
        display: block;
        align-items: center;

        p {
            margin: 0;
            font-size: 12px;
            color: black;
        }

        .form-input {
            border-radius: 0.2rem;
            border: solid 1px #E2E8F0;
            background: #ffffff;
            padding: 0.5rem 0.5rem;
            color: #718096;
            width: 90%;
        }
        .form-select {
            border-radius: 0.2rem;
            border: solid 1px #E2E8F0;
            background: #ffffff;
            padding: 0.5rem 0.5rem;
            color: #718096;
            width: 98%;
        }
        .recaptcha{
            margin: 0.5rem 0.6rem;
        }

    }
    .card-footer {
        padding: 0.5rem 3.7rem 0.5rem;
        justify-items: center;
        display: flex;
        flex-direction: column;
        float: right;
        width: 13%;
        .button{
            width: 100%;
            background-color: #008fd5;
            border: 0px;
            height: 40px;
            color: white;
        }
    }
}
.login-icon {
    font-size: 50px;
}

@media only screen and (min-width: 46.875em){
    .container {
        height: 70vh;
    }    
}